@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: Inter;
    font-weight: 500;
}
.hero-section{
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: auto;
}


.cursor {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
  }